div.sdn-topology-map
         div.well
            div.pull-right
               button.btn.btn-primary.btn-xs(ng-click="showHelp()")
                  i.fa.fa-question
            div.map
               div.mapInner(style="display:none")
               div.busyIndicator(ng-show="!loaded")
                  span Preparing topology ...
