div
	div.modal-header
		| Usage
		button(type="button",class="close",ng-click="close()")
			span(aria-hidden="true") &times;
			span(class="sr-only") Close
	div.modal-body
		p
			i.fa.fa-arrows
			| &nbsp;
			span.icon-label Click and drag to move nodes.
		hr
		p
			i.fa.fa-hand-o-up
			| &nbsp;
			span.icon-label Hover for more information.
		hr
		p
			i.fa.fa-magnet
			| &nbsp;
			span.icon-label Double click to stick/unstick nodes.
		hr
		p
			i.fa.fa-hand-o-right
			| &nbsp;
			span.icon-label Right click to view details.
		hr
		p
			i.fa.fa-random
			| &nbsp;
			span.icon-label Hover over flow to display it.