div.sdn-topology-map
   div.pull-right
      button.btn.btn-default.btn-xs(ng-click="showHelp()")
         i.fa.fa-question
   div.map
      div.mapInner(style="display:none")
      div.busyIndicator(ng-show="!loaded")
         span Preparing topology ...