extend detail
block header
	span(of-device-type-icon, device="item")
	span Device:
	code.dp {{ item.name }}
block body
	div.row
		div.col-md-6
			p 
				| ID: 
				code {{ item.id }}
			p(ng-show="item.userName") User Name: {{ item.userName }}
			p(ng-show="item") Connected since: {{ item.connectedSince | formatDate }}
			p(ng-show="item.url")
				| Link: 
				a(href="{{ 'http://' + item.url }}",target="_blank") {{ item.url | lowercase }}

			div(ng-show="item.interface != undefined")
				hr
				h2 Interface
				div.row
					div.col-sm-6
						| Gateway: 
						code {{ item.interface.gw }}
					div.col-sm-4 IP: {{ item.interface.address }}
					div.col-sm-2 Port: {{ item.interface.port }}
			hr
			p.pull-right
				a.btn.btn-default(href="{{ '/configuration/addDevice/' + item.id }}")
					i.fa.fa-cog
					|  Change
			h2 Device
			p Location: 
				span {{ item.location }}
			p Purpose: 
				span {{ item.purpose }}

			hr.visible-xs.visible-sm
		div.col-md-6
			h2 Connections
			div.row
				div.col-sm-4.col-md-4(ng-repeat="device in connectedDevices | orderBy:'name' ")
					span(of-device-thumbnail,device="device")