div
	div.panel.panel-default(ng-show="data.ofvm.flows.length > 0")
		table.table.table-striped
			thead
				tr
					th(style="width: 50px")
					th Data Link
					th Network
					th Transport
			tbody
				tr(ng-repeat="flow in data.ofvm.flows")
					td
						a.btn.btn-default.btn-sm(href="{{ '/detail/flow/' + flow.id }}") Details
					td
						table.table.table-bordered.table-condensed
							tr
								th Source:
								td
									a(href="{{ '/detail/device/' +  flow.dl.src }}")
										code.dp {{ flow.dl.src }}
							tr
								th Destination:
								td
									a(href="{{ '/detail/device/' + flow.dl.dst }}")
										code.dp {{ flow.dl.dst }}
							tr
								th Type:
								td {{ flow.dl.type | ethernetFrameType }}
							tr
								th VLAN:
								td {{ flow.dl.vlan }} / {{ flow.dl.vlanPriority }}
					td
						table.table.table-bordered.table-condensed
							tbody
								tr
									th Source:
									td {{ flow.nw.src }}
								tr
									th Destination:
									td {{ flow.nw.dst }}
								tr
									th Protocol:
									td {{ flow.nw.protocol | networkProtocol }}
								tr
									th Type of Service:
									td {{ flow.nw.typeOfService }}
					td
						table.table.table-bordered.table-condensed
							tbody
								tr
									th Source:
									td {{ flow.tp.src }}
								tr
									th Destination:
									td {{ flow.tp.dst }}

	div.alert.alert-info(ng-show="data.ofvm.flows.length == 0")
		strong There are no flows at the moment.