div#of-topology
	div.row
		div.col-md-9.well
			div.map
				div.mapInner(style="display:none")
				div.busyIndicator(ng-show="!loaded")
					span Preparing topology ...
		div.col-md-3
			div.topologyStats
				span.label.label-default 
					i.fa.fa-hdd-o
					|  
					span Switches: {{ data.ofvm.devices | countSwitches }}
				|  
				span.label.label-default
					i.fa.fa-mobile-phone
					|  
					span Clients: {{ data.ofvm.devices | countClients }}

			h2 Usage
			ul.list-group
				li.list-group-item
					i.fa.fa-arrows
					| 
					span.icon-label Click and drag to move nodes.
				li.list-group-item
					i.fa.fa-hand-o-up
					| 
					span.icon-label Hover for more information.
				li.list-group-item
					i.fa.fa-magnet
					| 
					span.icon-label Double click to stick/unstick nodes.
				li.list-group-item 
					i.fa.fa-hand-o-right
					| 
					span.icon-label Right click to view details.
				li.list-group-item 
					i.fa.fa-random
					| 
					span.icon-label Hover over flow to display it.

			h2 Flows
			div(ng-repeat="flow in data.ofvm.flows", ng-mouseenter="highlightFlow(flow)",ng-mouseleave="unhighlightFlow(flow)")
					span(of-flow-thumbnail, flow="flow")
			div.alert.alert-info(ng-show="data.ofvm.flows.length == 0")
				p No flows at the moment.