div.sdn-device-thumbnail
    a(href="{{ '/detail/device/' + dev.id }}", tooltip="ID: {{ dev.id }}",tooltip-placement="top", ng-class="{ 'thumbnail': showBorder != 'false' }")
        sdn-device-type-icon(device="dev")
        code.dp {{ dev.name }}
