extend layout

block nav
	ul(class="nav navbar-nav",ng-controller="NavCtrl")
		li
			a(href="/topology", tooltip="Topology", tooltip-placement="bottom")
				i.fa.fa-globe
		li
			a(href="/statistics", tooltip="Statistics", tooltip-placement="bottom") 
				i.fa.fa-signal
		li
			a(href="/configuration", tooltip="Configuration", tooltip-placement="bottom")
				i.fa.fa-cog
		li
			a(href="/documentation", tooltip="Help", tooltip-placement="bottom")
				i.fa.fa-book
		li
			a(href="/about", tooltip="About", tooltip-placement="bottom")
				i.fa.fa-info
		li
			a(ng-click="logout()", tooltip="Logout", tooltip-placement="bottom")
				i.fa.fa-sign-out
	ul(class="nav navbar-nav").pull-right
		li(ng-cloak, ng-class="{ ok: totalStatus, error: !totalStatus}")
			a(href="/status", ng-show="totalStatus", tooltip="Everything is fine.", tooltip-placement="bottom")
				i.fa.fa-check-square
				|  
				small {{ lastUpdate | formatDateShort }}
			a(href="/status", ng-show="!totalStatus", tooltip="{{ systemError }}", tooltip-placement="bottom")
				i.fa.fa-exclamation-triangle
				|  
				small Error on {{ systemErrorStamp | formatDateShort }}


block body
	div
		div(ng-view)

block scripts
	script(src="/js/lib/jquery/jquery-2.0.3.min.js")
	script(src="/js/lib/angular/angular.min.js")
	script(src="/js/lib/bootstrap/bootstrap.min.js")
	script(src="/js/lib/bootstrap/bootstrap-colorpicker-module.js")
	script(src="/js/lib/ui-bootstrap-tpls-0.10.0.min.js")
	script(src="/js/lib/moment.min.js")
	script(src="/js/lib/d3/d3.min.js")
	script(src="/js/lib/crypto-js/rollups/sha1.js")
	script(src="/js/lib/toastr.min.js")
	script(src="/js/lib/underscore.min.js")
	script(src="/js/lib/objectDiff.js")
	script(src="/js/lib/msgpack.codec.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/app.js")
	script(src="/js/dist.min.js")
	script(src="/shared/crypt.js")
	script(src="/shared/enumerations.js")
	script(src="/shared/network.js")
	script(src="/shared/OFVM.js")