body{position:relative;padding-top:70px;background-color:#f9f9f9}
@media (min-width:1200px){.container{width:auto;max-width:98%}}h1{font-size:24px}
h1 small{font-size:18px}
h2{font-size:18px}
h2 small{font-size:14px}
h3{font-size:14px;font-weight:bold}
h4{font-size:12px;font-weight:bold}
h5{font-size:12px}
h6{font-size:12px;font-style:italic}
.page-header{margin-top:20px}
#sdn-nav{text-shadow:0 -1px 0 rgba(0,0,0,0.15);background-color:#005278;border:0;box-shadow:0 1px 0 rgba(255,255,255,0.1)}#sdn-nav .navbar-brand{color:white;background:transparent url("../images/ofviz.png") no-repeat center left;padding-left:46px;padding-right:20px}
#sdn-nav .navbar-nav>li>a{color:#b3e1f7}#sdn-nav .navbar-nav>li>a img,#sdn-nav .navbar-nav>li>a small{vertical-align:middle}
#sdn-nav .navbar-nav>li>a small{display:inline-block;margin-left:5px}
#sdn-nav .navbar-nav>li.active,#sdn-nav .navbar-nav>li>a:hover{color:white}
#sdn-nav .navbar-nav>li.ok a{color:#5cb85c !important}
#sdn-nav .navbar-nav>li.error a{color:#d9534f !important}
#sdn-nav .navbar-nav>li.active a{color:white;background-color:#00415f}
code{color:#005278;background-color:#eaf0f3}
code.dp{background-color:transparent;vertical-align:middle}
span.middle{vertical-align:middle}
a.thumbnail{overflow:hidden;word-wrap:break-word;text-decoration:none;margin-bottom:0px}a.thumbnail code{white-space:normal}
.nav-pills li:hover{cursor:pointer}
.form-group{margin-left:5px;margin-right:5px}
#sdn-docs h1{margin-top:5px}
#sdn-docs .nav>li>a{display:block;color:#716b7a;padding:5px 20px}
#sdn-docs .nav>li>a:hover,#sdn-docs .nav>li>a:focus{text-decoration:none;background-color:#e5e3e9;border-right:1px solid #dbd8e0}
#sdn-docs .nav>.active>a,#sdn-docs .nav>.active:hover>a,#sdn-docs .nav>.active:focus>a{font-weight:bold;color:#563d7c;background-color:transparent;border-right:1px solid #563d7c}
#sdn-docs .nav .nav{margin-bottom:8px}
#sdn-docs .nav .nav>li>a{padding-top:3px;padding-bottom:3px;padding-left:30px;font-size:90%}
#sdn-docs #sdn-docs-body{padding:0}
#sdn-docs .affix{position:static}
#sdn-docs p{max-width:800px;line-height:1.5em;margin-bottom:0.5em}#sdn-docs p a{font-weight:bold}
#sdn-topology line.link{fill:none;stroke:#999;stroke-width:1px}
#sdn-topology .node{text-align:center;vertical-align:middle}
#sdn-topology marker#wlan{fill:green}
#sdn-topology line.link.wlan{stroke:black;stroke-dasharray:0,2 1}
#sdn-topology circle,#sdn-topology rect{stroke-width:2px;cursor:pointer}
#sdn-topology image{cursor:pointer}
#sdn-topology text{fill:white;text-anchor:middle;text-align:center;dominant-baseline:central;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1}
#sdn-topology div.topology-tooltip{position:absolute;text-align:center;padding:2px;pointer-events:none;background-color:white;border:1px solid #CCC}#sdn-topology div.topology-tooltip th{width:120px}
#sdn-topology .icon-label{margin-left:5px;display:inline-block}
#sdn-topology .busyIndicator{color:#999;font-size:24px;margin-bottom:50px}
span.device{display:inline-block;vertical-align:middle;line-height:16px;margin:5px;padding:5px;color:white;-ms-border-radius:2px;border-radius:2px}
span.device.Link{background:#a23800 !important}
span.device.Flow{background:#ffb800 !important}
#sdn-about .logo{text-align:center;margin-bottom:10px}
#sdn-about .jumbotron img{position:relative;top:-30px;left:-30px;margin:0}
#sdn-about .row img{margin:0 auto;display:block;background:white;padding:10px}
#sdn-about .row a:hover{text-decoration:none}
.topologyStats{font-size:1.2em}
.panel-heading h2{margin:5px 0 5px 0}
.helpTooltip{color:#428bca;font-size:10px;position:relative;top:-5px}
.tooltip-inner{white-space:pre-wrap}
.macDigitBox{width:38px;margin-bottom:5px;font-family:Monaco,Menlo,Consolas,"Courier New",monospace}
.ng-invalid.form-control{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}
.label-center{margin:10px 0;display:inline-block}
th.linkParameter,td.linkParameter{width:140px;text-align:right}
td.nonZero{font-weight:bold}
td.nonZero.loss{color:#d9534f }
.no-wrap{white-space:nowrap}
.no-wrap select{display:inline}
.colorpickerBox{display:inline-block}
#toast-container>div{opacity:1}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none !important}
