div.btn-group.pull-right
	button.btn.btn-default.btn-xs(ng-click="copy()", tooltip="Copy", tooltip-placement="bottom")
		i.fa.fa-copy
	button.btn.btn-default.btn-xs(ng-click="paste()", tooltip="Paste", tooltip-placement="bottom")
		i.fa.fa-paste