div.panel.panel-default
	div.panel-heading
		a(href="{{ '/detail/device/' + device.id }}")
			span(of-device-type-icon,device="device")
			code.dp {{ device.name }} 
				span(ng-show="port") [{{ port }}]
		span(ng-show="device.interface")
			|  
			button.btn.btn-default.btn-sm.detail(type="button",popover="{{ device.interface | interfaceFormat }}",popover-placement="bottom")
				i.fa.fa-ellipsis-h
	div.panel-body
		div.row
			div.col-sm-6
				| ID: 
				code {{ device.id }}
			div.col-sm-6
				| Type: 
				strong {{ device.type }}
		| <br/>
		div.row
			div.col-sm-6
				| Location:<br/> {{ device.location }}
			div.col-sm-6
				| Purpose:<br/> {{ device.purpose }}
		| <br/>
		div.row(ng-show="device.url")
			div.col-sm-12
				span(ng-show="device.userName") {{ device.userName }}@
				a(href="{{ 'http://' + device.url }}",target="_blank") {{ device.url | lowercase }}