div
	a.thumbnail(href="{{ '/detail/device/' + device.id }}",tooltip="ID: {{ device.id }}",tooltip-placement="top")
		span(sdn-device-type-icon,device="device")
		code.dp {{ device.name }}
	| <br />