extend layout

block nav
    ul(class="nav navbar-nav",ng-controller="NavCtrl")
        li
            a(href="/topology", tooltip="Topology", tooltip-placement="bottom")
                i.fa.fa-globe
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown", role="button", aria-expanded="false", tooltip="Statistics", tooltip-placement="bottom")
                i.fa.fa-signal
                | &nbsp;
                span.caret
            ul.dropdown-menu
                li
                    a(href="/statistics/overview")
                        i.fa.fa-fw.fa-tachometer
                        | &nbsp;Overview

                li
                    a(href="/statistics/devices")
                        i.fa.fa-fw.fa-hdd-o
                        | &nbsp;Devices ({{ data.nvm.devices.length }})
                li
                    a(href="/statistics/links")
                        i.fa.fa-fw.fa-link
                        | &nbsp;Links ({{ data.nvm.links.length }})
                li
                    a(href="/statistics/flows")
                        i.fa.fa-fw.fa-random
                        | &nbsp;Flows ({{ data.nvm.flows.length }})
        li
            a(href="/configuration", tooltip="Configuration", tooltip-placement="bottom")
                i.fa.fa-cog
        li
            a(href="/documentation", tooltip="Help", tooltip-placement="bottom")
                i.fa.fa-book
        li
            a(href="/about", tooltip="About", tooltip-placement="bottom")
                i.fa.fa-info
        li
            a(ng-click="logout()", tooltip="Logout", tooltip-placement="bottom")
                i.fa.fa-sign-out

    form.navbar-form.navbar-left(role="search")
        div.form-group
            div.div.btn-group
                div.input-group()
                    input.form-control(type="text", ng-model="deviceFilter", placeholder="filter name, mac or datapath")
                    span.input-group-btn
                        button.btn.btn-default(type="button",ng-click="clearDeviceFilter()",ng-disabled="deviceFilter == ''")
                            i.fa.fa-times

    ul.pull-right(class="nav navbar-nav",style="margin-left: 20px;")
        li(ng-cloak, ng-class="{ ok: totalStatus, error: !totalStatus}")
            a(href="/status", ng-show="totalStatus", tooltip="Everything is fine.", tooltip-placement="bottom")
                i.fa.fa-fw.fa-check-square
                | &nbsp;
                small {{ lastUpdate | formatDateWithoutYear }}
            a(href="/status", ng-show="!totalStatus", tooltip="{{ systemError }}", tooltip-placement="bottom")
                i.fa.fa-fw.fa-exclamation-triangle
                | &nbsp;
                small {{ systemErrorStamp | formatDateWithoutYear }}


block body
    div
        div(ng-view)

block scripts
    script(src="/lib/jquery/jquery.min.js")
    script(src="/lib/angular/angular.min.js")
    script(src="/lib/angular-route/angular-route.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/lib/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js")
    script(src="/lib/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js")
    script(src="/lib/moment/min/moment.min.js")
    script(src="/lib/d3/d3.min.js")
    script(src="/lib/cryptojslib/rollups/md5.js")
    script(src="/lib/toastr/toastr.min.js")
    script(src="/lib/lodash/dist/lodash.min.js")
    script(src="/lib/objectDiff-enhanced/objectDiff.js")
    script(src="/lib/msgpack-javascript/msgpack.codec.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/app.js")
    script(src="/js/dist.min.js")
    script(src="/shared/crypt.js")
    script(src="/shared/enumerations.js")
    script(src="/shared/network.js")
    script(src="/shared/NVM.js")