!!!
html(ng-app="sdn-visualization",xlink="http://www.w3.org/1999/xlink")
    head
        meta(charset="utf8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/")
        title SDN Visualization
        link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/lib/angular-bootstrap-colorpicker/css/colorpicker.css")
        link(rel="stylesheet", href="/lib/toastr/toastr.min.css")
        link(rel="stylesheet", href="/lib/fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/app.css")
    body
        a(class="sr-only",href="#content")
            Skip navigation
        header#sdn-nav.navbar.navbar-inverse.navbar-fixed-top(role="banner")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.navbar-brand-img(href="/")
                    a.navbar-brand.hidden-sm(href="/") SDN-Viz
                div(class="navbar-collapse collapse")
                    block nav

        div#content
            div.container-fluid
                block body
                hr
                div#sdn-copyright
                    p SDN-Visualization&nbsp;
                        span(ng-cloak)
                            | (v
                            span(sdn-app-version)
                            | )&nbsp;
                        if demoMode
                            span.label.label-danger DEMO
                            | &nbsp;
                        | - Created by&nbsp;
                        a(href="http://www.nt.uni-saarland.de/",target="_blank") Telecommunications Lab
                        |  /&nbsp;
                        a(href="http://www.intel-vci.uni-saarland.de",target="_blank") Intel Visual Computing Institute
                        |  at&nbsp;
                        a(href="http://www.uni-saarland.de",target="_blank") Saarland University
                        |  - Licensed under&nbsp;
                        a(href="http://opensource.org/licenses/MIT",target="_blank") MIT
                        |  - &nbsp;
                        iframe(src="https://ghbtns.com/github-btn.html?user=UdS-TelecommunicationsLab&repo=SDN-Visualization&type=star&count=true",
                        frameborder="0",
                        scrolling="0",width="170px",height="20px",
                        style="vertical-align: middle; margin-top:-5px")
                    div#logos.row
                        div.col-sm-4.col-md-2.col-md-offset-3
                            a.uds(href="http://www.uni-saarland.de/", target="_blank") Saarland University
                        div.col-sm-4.col-md-2
                            a.ivci(href="http://www.intel-vci.uni-saarland.de/", target="_blank") Saarland University
                        div.col-sm-4.col-md-2
                            a.operator(href="/operator", target="_blank") Operator
                    br

        block scripts