div#sdn-about
	div.jumbotron
		img.pull-left(src="/images/logos/ofviz_large.png")
		p The 
			strong Software Defined Networking Visualization 
			| is a project of the 
			a(href="http://www.nt.uni-saarland.de/",target="_blank") Telecommunications Lab 
			|  at 
			a(href="http://www.uni-saarland.de",target="_blank") Saarland University
			| .
		p Contributors: 
			a(href="http://www.portal-as.de", target="_blank") Andreas Schmidt
			| , 
			a(href="http://www.nt.uni-saarland.de/en/people/staff/michael-karl.html", target="_blank") Michael Karl

	div.panel.panel-default
		div.panel-heading
			i.fa.fa-share-alt
			|  Software Defined Networking &amp; OpenFlow
		div.panel-body
			div.row
				div.col-sm-6.col-md-4.logo
					a(href="https://www.opennetworking.org",target="_blank") Open Networking Foundation
						</br>
						img(src="/images/logos/onf.png")

	div.panel.panel-default
		div.panel-heading
			i.fa.fa-puzzle-piece
			|  Frameworks / Libraries
		div.panel-body
			p All the used frameworks and libraries are either 
				a(href="http://www.apache.org/licenses/LICENSE-2.0", target="_blank") Apache
				| , 
				a(href="http://opensource.org/licenses/BSD-3-Clause", target="_blank") BSD
				|  or 
				a(href="http://opensource.org/licenses/MIT", target="_blank") MIT
				|  licensed.

			div.row
				div.col-xs-6.col-sm-2
					ul
						li
							a(href="http://angularjs.org",target="_blank") AngularJS
						li
							a(href="http://getbootstrap.com/",target="_blank") Bootstrap
						li
							a(href="https://code.google.com/p/crypto-js/", target="_blank") Crypto.js
						li
							a(href="http://d3js.org/", target="_blank") D3.js
				div.col-xs-6.col-sm-2
					ul
						li
							a(href="http://expressjs.com/", target="_blank") Express
						li
							a(href="http://fontawesome.io/", target="_blank") Font Awesome
						li
							a(href="http://jade-lang.com/", target="_blank") jade
						li
							a(href="http://jquery.com/", target="_blank") jQuery
				div.col-xs-6.col-sm-2
					ul
						li
							a(href="http://lesscss.org/", target="_blank") LESS
						li
							a(href="https://lodash.com/", target="_blank") Lo-Dash
						li
							a(href="http://msgpack.org/", target="_blank") MessagePack
						li
							a(href="http://momentjs.com/", target="_blank") Moment.js
				div.col-xs-6.col-sm-2
					ul
						li
							a(href="http://nodejs.org",target="_blank") Node.js
						li
							a(href="http://socket.io/",target="_blank") Socket.io
						li
							a(href="http://codeseven.github.io/toastr/", target="_blank") Toastr
						li
							a(href="http://angular-ui.github.io/bootstrap/", target="_blank") UI Bootstrap
				div.col-xs-6.col-sm-2
					ul
						li
							a(href="http://underscorejs.org/", target="_blank") Underscore.js