extend detail
block header
    span(class="device Flow")
        i.fa.fa-random
    span &nbsp;Flow:
    code.dp
        | {{ item.id }}

block body
    p.sdn-flow
        strong Parameters:&nbsp;
        code.dp S: {{ item.source }}
        | &nbsp;
        code.dp D: {{ item.destination }}
        | &nbsp;
        span.label.label-success {{ item.protocol | networkProtocol }}
        | &nbsp;
        span.label.label-default {{ item.service | serviceName:item.protocol }}
        | &nbsp;
        | {{ item.label }}

    div.table-responsive
        table.table.table-condensed.table-striped.table-bordered
            thead
                tr
                    th(rowspan="3") Device
                    th(rowspan="3") Actions
                    th(colspan="3") Layers
                tr
                    th Data
                    th Network
                    th Transport
            tbody
                tr(ng-repeat="entry in item.entries")
                    td
                        a(href="{{ '/detail/device/' + entry.deviceId }}")
                            code.dp {{ entry.deviceId }}
                    td
                        div(ng-show="entry.actions.endpoint") Endpoint
                        div(ng-repeat="(key, action) in entry.actions", ng-hide="entry.actions.endpoint")
                            div(ng-switch="key")
                                div(ng-switch-when="output") Output ({{ action }})
                                div(ng-switch-default) {{ key }} : {{ action }}

                    td
                        div(ng-hide="entry.actions.endpoint")
                            code.dp S:&nbsp;
                                a(href="{{ '/detail/device/' +  entry.dl.src }}") {{ entry.dl.src }}
                            | <br/>
                            code.dp D:&nbsp;
                                a(href="{{ '/detail/device/' +  entry.dl.dst }}") {{ entry.dl.dst }}
                            | <br/>
                            code.dp VLAN: {{ entry.dl.vlan }} / {{ entry.dl.vlanPriority }} | Type: {{ entry.dl.type | ethernetFrameType }}
                    td
                        div(ng-hide="entry.actions.endpoint")
                            code.dp S: {{ entry.nw.src }}
                            | <br/>
                            code.dp D: {{ entry.nw.dst }}
                            | <br/>
                            code.dp ToS:  {{ entry.nw.typeOfService }}
                    td
                        div(ng-hide="entry.actions.endpoint")
                            code.dp S: {{ entry.tp.src }}
                            | <br/>
                            code.dp D: {{ entry.tp.dst }}