extends detail
block header
    span(class="device Link")
        i.fa.fa-link
    span Link:
    code.dp
        | {{ item.srcHost.name }} <-> {{ item.dstHost.name }}

block body
    div.row
        div.col-md-4
            h2 Source
            sdn-device(device="item.srcHost",port="{{ item.srcPort }}")

        div.col-md-4
            h2 Connection
            form(name="editLinkForm")
                div.table-responsive
                    table.table
                        tbody
                            tr
                                td {{ item.srcDelay | delay }}
                                th
                                    i.fa.fa-clock-o
                                    |  Delay
                                td {{ item.dstDelay | delay }}
                            tr
                                td {{ item.srcPlr | packetLossRate }}
                                th(style="width:180px")
                                    i.fa.fa-trash-o
                                    |  Packet Loss
                                td {{ item.dstPlr | packetLossRate }}
                            tr
                                td {{ item.srcTx | dataRate }}
                                th
                                    i.fa.fa-sign-in
                                    |  Transmit Data Rate
                                td {{ item.dstTx | dataRate }}
                            tr
                                td {{ item.srcRx | dataRate }}
                                th
                                    i.fa.fa-sign-out
                                    |  Receive Data Rate
                                td {{ item.dstRx | dataRate }}
        div.col-md-4
            h2 Destination
            sdn-device(device="item.dstHost",port="{{ item.dstPort }}")