div#sdn-status
    div.row
        div.col-sm-7.col-md-4
            div.panel.panel-default
                div.panel-heading
                    i.fa.fa-check-square
                    |  Status
                div.table-responsive
                    table.table.table-striped.table-condensed
                        tr
                            td Name
                            td(colspan=2)
                                strong {{ vm.data.nvm.controller.name }}
                        tr
                            td Contact
                            td(colspan=2)
                                a(href="{{ 'mailto:' + contactInformation}}",ng-show="contactInformation") {{ contactInformation }}
                                span(ng-show="!contactInformation") {{ contactInformation }}
                        tr
                            td Type
                            td(colspan=2) {{ vm.data.nvm.controller.type }}
                        tr
                            td Started
                            td(colspan=2) {{ vm.data.nvm.controller.started | formatSince }}
                        tr
                            td Last Update
                            td(colspan=2) {{ lastUpdate | formatDate }}
                        tr
                            td Routing Metrics:
                                sdn-help-tooltip(tooltip="Current marked in bold")
                            td
                                span(ng-repeat="metric in vm.data.nvm.controller.routing.availableMetrics",
                                    ng-style="{ 'font-weight': (metric == vm.data.nvm.controller.routing.currentMetric) ? 'bold' : 'normal' }") {{ metric }}{{$last ? '': ','}}&nbsp;
                        tr
                            td(rowspan=2) UDP Relaying:
                            td
                                |  Global Status:&nbsp;
                                sdn-ui-on-off-label(field="vm.data.nvm.controller.relaying.udp.enabled")
                        tr
                            td
                                span
                                    |  Registered:&nbsp;
                                    b {{vm.data.nvm.controller.relaying.udp.count}}&nbsp;
                                    | {{vm.data.nvm.controller.relaying.udp.count == 1 ? 'relay' : 'relays'}}
                        tr
                            td(rowspan=2) TCP Relaying:
                            td
                                |  Global Status:&nbsp;
                                sdn-ui-on-off-label(field="vm.data.nvm.controller.relaying.tcp.enabled")
                        tr
                            td
                                span
                                    |  Registered:&nbsp;
                                    b {{vm.data.nvm.controller.relaying.tcp.count}}&nbsp;
                                    | {{vm.data.nvm.controller.relaying.tcp.count == 1 ? 'relay' : 'relays'}}
                        tr
                            td Monitored Networks
                            td(colspan=2)
                                p(ng-repeat="network in vm.data.nvm.controller.monitoredNetworks") {{ network }}
                        tr(ng-show="vm.data.nvm.analytics.enabled")
                            td Observer
                            td(colspan=2)
                                p Started:&nbsp;
                                    span(ng-show="vm.data.nvm.observer.started") {{ vm.data.nvm.observer.started | formatDateShort }}
                                    span(ng-hide="vm.data.nvm.observer.started") Not running.
                                p Healthy:&nbsp;
                                    sdn-ui-on-off-label(field="vm.data.nvm.observer.healthy")
                        tr(ng-show="vm.data.nvm.analytics.enabled")
                            td Analyzer
                            td(colspan=2)
                                p Started:&nbsp;
                                    span(ng-show="vm.data.nvm.analyzer.started") {{ vm.data.nvm.analyzer.started | formatDateShort  }}
                                    span(ng-hide="vm.data.nvm.analyzer.started") Not running.
                                p Healthy:&nbsp;
                                    sdn-ui-on-off-label(field="vm.data.nvm.analyzer.healthy")
                        tr(ng-show="vm.data.debugMode")
                            td Local CRC
                            td(colspan=2)
                                sdn-crc-box(crc="localCRC")
                        tr(ng-show="vm.data.debugMode")
                            td Server CRC
                            td(colspan=2)
                                sdn-crc-box(crc="serverCRC")
            div.panel.panel-default
                div.panel-heading
                    i.fa.fa-flash
                    | &nbsp;Actions
                div.panel-body
                    button.btn.btn-danger(ng-click="vm.resetModel()")
                        i.fa.fa-fw.fa-trash-o
                        | &nbsp;Invalidate Model
                    | &nbsp;
                    button.btn.btn-default(ng-click="vm.enterDebugMode()",tooltip="Enter Debug Mode")
                        i.fa.fa-fw.fa-bug
        div.col-sm-5.col-md-8
            div.panel.panel-default
                div.panel-heading
                    i.fa.fa-bars
                    |  Log
                    a.pull-right.btn.btn-default.btn-xs(ng-click="clearLog()", tooltip="Clear Log", tooltip-placement="bottom")
                        i.fa.fa-fw.fa-trash-o
                div.panel-body
                    tabset(type="pills")
                        tab
                            tab-heading Controller ({{ vm.logging.length}})
                            hr
                            div.form-inline
                                div.form-group
                                    label Length&nbsp;
                                    input.form-control(type="number", ng-model="vm.maxLog", min="1", max="1000", step="1", value="{{vm.maxLog}}")
                                div.form-group
                                    label(for="newestFirst") Order&nbsp;
                                    input(type="checkbox", name="newestFirst", ng-model="vm.newestFirst")
                                    | Newest First
                            hr
                            div.table-responsive
                                table.table.table-striped.table-condensed.table-bordered
                                    thead
                                        tr
                                            th(width="36px") #
                                            th Message
                                    tbody
                                        tr(ng-repeat="(key, entry) in vm.logging | orderBy:'+index':vm.newestFirst")
                                            td
                                                code.dp {{key+1}}
                                            td
                                                code.dp {{ entry.message }}
                        tab(heading="Client")
                            tab-heading Client ({{ vm.data.logs.length }})
                            hr
                            div.table-responsive
                                table.table.table-striped.table-condensed.table-bordered
                                    thead
                                        th Date
                                        th Message
                                    tbody
                                        tr(ng-repeat="log in vm.data.logs", ng-class="{ success: log.status == 'success', danger: log.status == 'error'}")
                                            th.hidden-sm(style="width:180px") {{ log.date | formatDateShort }}
                                            th.visible-sm(style="width:100px") {{ log.date | formatDateShort }}
                                            td {{ log.message }}
                                div.panel-body(ng-show="!totalStatus")
                                    div.alert.alert-danger
                                        p There is an error at the moment. In case it does not vanish after a few seconds try the following:
                                        ul
                                            li
                                                a.alert-link(href="/status",ng-click="reload()") Reload
                                                |  the page by pressing F5 or the according button in your browser's address bar.
                                            li If this does not help
                                                a.alert-link(href="{{ 'mailto:' + contactInformation }}") contact
                                                |  an administrator using the address given on the left side.

