div#sdn-topology
	div.row
		div.col-md-9
			div.topologyStats
				span.label.label-primary
					i.fa.fa-hdd-o
					| &nbsp;
					span Switches: {{ data.nvm.devices | countSwitches }}
				| &nbsp;
				span.label.label-primary
					i.fa.fa-mobile-phone
					| &nbsp;
					span Clients: {{ data.nvm.devices | countClients }}
				| &nbsp;
				span.label.label-primary()
					i.fa.fa-random
					| &nbsp;
					span Flows: {{ data.nvm.flows.length }}
				| &nbsp;
				button.btn.btn-primary.btn-xs(ng-click="showHelp()")
					i.fa.fa-question
			br
			div.well
				div.map
					div.mapInner(style="display:none")
					div.busyIndicator(ng-show="!loaded")
						span Preparing topology ...
		div.col-md-3
			div(ng-repeat="flow in data.nvm.flows", ng-mouseenter="highlightFlow(flow)",ng-mouseleave="unhighlightFlow(flow)")
					span(sdn-flow-thumbnail, flow="flow")
			div.alert.alert-info(ng-show="data.nvm.flows.length == 0")
				p No flows at the moment.