div.sdn-flow-table
    div.panel.panel-default(ng-show="data.nvm.flows.length > 0")
        div.panel-heading
            i.fa.fa-fw.fa-random
            | &nbsp;Flows
        table.table.table-striped.table-bordered.table-condensed.table-hover
            thead
                tr
                    th(colspan=3) Network
                    th(rowspan=2) Service
                    th(rowspan=2) Entries
                    th(style="width: 50px", rowspan=2)
                tr
                    th Source
                    th Destination
                    th Protocol
            tbody
                tr.sdn-flow(ng-repeat="flow in data.nvm.flows")
                    td
                        code.dp {{ flow.source }}
                    td
                        code.dp {{ flow.destination }}
                    td
                        span.label.label-success {{ flow.protocol | networkProtocol }}
                    td
                        span.label.label-default(ng-show="flow.protocol == 6 || flow.protocol == 17") {{ flow.service | serviceName:flow.protocol }}
                    td {{ flow.entries.length }}
                    td(width="40px")
                        a.btn.btn-default.btn-xs(href="{{ '/detail/flow/' + flow.id }}", tooltip="Details")
                            i.fa.fa-fw.fa-ellipsis-h

    div.alert.alert-info(ng-show="data.nvm.flows.length == 0")
        strong There are no flows at the moment.