div.sdn-link-table
    div.panel.panel-default(ng-show="data.nvm.links.length > 0")
        div.panel-heading
            i.fa.fa-fw.fa-link
            | &nbsp;Links
        table.table.table-condensed.table-hover.table-bordered
            colgroup
                col(span=1)
                col(span=5)
                col(span=5)
                col(span=1)
            thead
                tr
                    th(rowspan=2)
                    th(colspan=5) Source
                    th(colspan=5) Destination
                    th(rowspan=2)
                tr
                    th Name [Port]
                    th.linkParameter Tx Rate
                    th.linkParameter Rx Rate
                    th.linkParameter.loss Loss
                    th.linkParameter.delay Delay

                    th Name [Port]
                    th.linkParameter Tx Rate
                    th.linkParameter Rx Rate
                    th.linkParameter.loss Loss
                    th.linkParameter.delay Delay
            tbody
                tr(ng-repeat="link in data.nvm.links | srcOrDstId:deviceFilter")
                    td(width="20px")
                        sdn-ui-on-off-label(field="link.active")

                    td
                        a(href="{{ '/detail/device/' + link.srcHost.id }}")
                            sdn-device-type-icon(device="link.srcHost")
                            code.dp {{ link.srcHost.name }}
                        span.middle [{{ link.srcPort }}]
                    td.linkParameter(ng-class="{ nonZero: link.srcTx != 0 && link.srcTx != null }") {{ link.srcTx | dataRate }}
                    td.linkParameter(ng-class="{ nonZero: link.srcRx != 0 && link.srcRx != null }") {{ link.srcRx | dataRate }}
                    td.linkParameter.loss(ng-class="{ nonZero: link.srcPlr != 0 && link.srcPlr != null }") {{ link.srcPlr | packetLossRate }}
                    td.linkParameter.delay(ng-class="{ nonZero: link.srcDelay != 0 && link.srcDelay != null }") {{ link.srcDelay | delay }}

                    td
                        a(href="{{ '/detail/device/' + link.dstHost.id }}")
                            sdn-device-type-icon(device="link.dstHost")
                            code.dp {{ link.dstHost.name }}
                        span.middle [{{ link.dstPort }}]
                    td.linkParameter(ng-class="{ nonZero: link.dstTx != 0 && link.dstTx != null }") {{ link.dstTx | dataRate }}
                    td.linkParameter(ng-class="{ nonZero: link.dstRx != 0 && link.dstRx != null }") {{ link.dstRx | dataRate }}
                    td.linkParameter.loss(ng-class="{ nonZero: link.dstPlr != 0 && link.dstPlr != null }") {{ link.dstPlr | packetLossRate }}
                    td.linkParameter.delay(ng-class="{ nonZero: link.dstDelay != 0 && link.dstDelay != null }") {{ link.dstDelay | delay }}

                    td(width="40px")
                        a.btn.btn-default.btn-xs(href="{{ '/detail/link/' + link.id }}", tooltip="Details")
                            i.fa.fa-fw.fa-ellipsis-h

    div.panel.panel-default(ng-show="data.nvm.links.length > 0")
        div.panel-body
            small All links are symmetric, so the inverse direction is also connected.


    div.alert.alert-info(ng-show="data.nvm.links.length == 0")
        strong There are no links at the moment.