div
	div.row
		div.col-md-8
			div.panel.panel-default
				div.panel-heading
					i.fa.fa-hdd-o
					|  Devices 
					span.label.label-default {{ data.nvm.devices.length }} 
				div.panel-body
					div.row
						div.col-xs-6.col-sm-4.col-md-4.col-lg-4(ng-repeat="device in data.nvm.devices | hasIdOrName:deviceFilter | orderBy:'name' ")
							sdn-device-thumbnail(device="device")
		div.col-md-4
			div.panel.panel-default
				div.panel-heading
					i.fa.fa-random
					|  Flows 
					span.label.label-default {{ data.nvm.flows.length }} 
				div.panel-body
					div.row
						div.col-xs-12(ng-repeat="flow in data.nvm.flows")
							sdn-flow-thumbnail(flow="flow")